
.box {
    
    margin-left: 5%;
    width: 90%;
    height: 500px;
    align-self: center;
    background-image: linear-gradient(grey, black); 
    color: black;
    margin-top: 150px;
    
}

.boxItem {
    align-self: center;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem black;
}

.form-group {
    width: 75%;
    
}

.mid {
    margin-top: 175;
}